<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabib Apps web | Admin Dashboard Template</title>
    <!-- calendar -->
    <link rel="stylesheet" href="css/fullcalendar.min.css">
    <link rel="stylesheet" href="css/fullcalendar.print.min.css" media="print">
    <!-- Base Styling  -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html"> <img class="logo-tabib" src="picture/download.png" alt=""></a>
                <a href="index.html"><img class="brand-title" src="picture/logo.png" alt=""></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu">
                        <a href="index.html">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-user-md"></i>
                            <span class="nav-label">Doctors</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="add-doctor.html">Add Doctor</a></li>
                            <li><a href="doctor-list.html">All Doctors</a></li>
                            <li> <a href="doctor-profile.html">Doctors Profile</a> </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Patients</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="new-patient.html">New Patient</a></li>
                            <li><a href="all-patients.html">All Patients</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="new-appointment.html">
                            <i class="fas fa-calendar-plus"></i>
                            <span class="nav-label">Appointment</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-book-medical"></i>
                            <span class="nav-label">Prescriptions</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="new-prescription.html">New Prescription</a></li>
                            <li><a href="all-prescriptions.html">All Prescriptions</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="add-drug.html">
                            <i class="fas fa-pills"></i>
                            <span class="nav-label">Add Drug</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-heartbeat"></i>
                            <span class="nav-label">Tests</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="add-test.html">Add Test</a></li>
                            <li><a href="all-tests.html">All Tests</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu active">
                        <a href="">
                            <i class="fas fa-calendar-alt"></i>
                            <span class="nav-label">calendar</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="reports.html">
                            <i class="fas fa-chart-pie"></i>
                            <span class="nav-label">Reports</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-file-invoice"></i>
                            <span class="nav-label">Billing</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="create-invoice.html">Create Invoice</a></li>
                            <li><a href="billing-list.html">Billing List</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-cog"></i>
                            <span class="nav-label">Settings</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="doctor-settings.html">Doctor Settings</a></li>
                            <li><a href="prescription-settings.html">Prescription Settings</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fa fa-tag"></i>
                            <span class="nav-label">Authentication</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="empty-page.html">Empty Page</a></li>
                            <li><a href="page-login.html">Login simple</a></li>
                            <li><a href="page-login-one.html">Login with Bg Image</a></li>
                            <li><a href="page-register.html">Register simple</a></li>
                            <li><a href="page-register-one.html">Register with Bg Image</a></li>
                            <li><a href="page-lock-screen.html">Lock Screen</a></li>
                            <li><a href="page-forgot-password.html">Page forgot password</a></li>
                            <li><a href="page-error-404.html">Error 404</a></li>
                            <li><a href="page-error-500.html">Error 500</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-widgets">
                <div class="top-sidebar box-shadow mx-25 m-b-30 p-b-20 text-center">
                    <a href="new-appointment.html">
                        <img src="picture/appointement.svg" class="side-img" alt="img">
                    </a>
                    <a href="#">
                        <h4 class="text-primary mb-0">Make an Appointments</h4>
                    </a>
                </div>
                <div class="copyright text-center">
                    <p class="mb-0"> Tabib Dashboard</p>
                    <p class="mb-0"> © 2021 </p>
                </div>
            </div>
        </aside>
        <!-- End section sidebar -->


        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                    <div class="left-header content-header__menu">
                        <ul class="list-unstyled">
                            <li class="nav-link btn">
                                <a href="#"><i class="far fa-calendar-check"></i> <span> Make an appointment</span></a>
                            </li>
                            <li class="nav-link btn">
                                <a href="#"><i class="far fa-file-alt"></i> <span> Write a prescription</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-right">
                    <div class="fullscreen notification_dropdown">
                        <div class="full">
                            <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="fas fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="notification_dropdown">
                        <div class="cart-wrapper">
                            <div class="cart-icon">
                                <a class="cart-control" href="#">
                                    <i class="fas fa-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                            </div>
                            <div class="cart-dropdown-form dropdown-container">
                                <div class="form-content">
                                    <div class="widget-media main-scroll nicescroll-box">
                                        <ul class="timeline">
                                            <li>
                                                <h6 class="mb-0">Notitications</h6>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2">
                                                        <img alt="image" src="picture/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1 ">Incoming Message</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-info">
                                                        <img alt="image" src="picture/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">You got a new email</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-success">
                                                        <img alt="image" src="picture/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Hello world!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2">
                                                        <img alt="image" src="picture/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Beep Boop. Beee...</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-danger">
                                                        <!-- KG -->
                                                        <img alt="image" src="picture/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Hello world!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-primary">
                                                        <img alt="image" src="picture/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Incoming Message</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="all-notification btn btn-primary" href="#">
                                        See all notifications
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-account-wrapper">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <div class="header-info">
                                        <span>Dr Roberts</span>
                                        <small>Admin</small>
                                    </div>
                                    <img src="picture/client.jpg" alt="people">
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="doctor-settings.html">
                                            <i class="far fa-user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                        <a href="#">
                                            <i class="far fa-envelope"></i>
                                            <span class="ml-2">Inbox</span>
                                        </a>
                                        <a href="page-login.html">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="new_appointment main_container">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4 class="text-primary">Calender</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">

                                        <!-- start draggable events -->
                                        <div class="col-lg-3">
                                            <div class="draggable-events">
                                                <h4 class="box-title">Draggable Events</h4>
                                                <div class="box-body bottom-event">
                                                    <!-- the events -->
                                                    <div id="external-events" class="external-events">
                                                        <div class="external-event bg-calander-1 btn">My Calendar</div>
                                                        <div class="external-event bg-calander-2 btn">Company</div>
                                                        <div class="external-event bg-calander-3 btn">Family</div>
                                                        <div class="external-event bg-calander-4 btn">Friend</div>
                                                        <div class="external-event bg-calander-5 btn">Travel</div>
                                                        <div class="external-event bg-calander-6 btn">etc</div>
                                                        <div class="external-event bg-calander-7 btn">Birthdays</div>
                                                        <div class="external-event bg-calander-8 btn">National Holidays</div>
                                                        <div class="checkbox">
                                                            <label for="drop-remove">
                                                                <input type="checkbox" id="drop-remove">
                                                                remove after drop
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="create-event">
                                                <div class="event-header">
                                                    <h3 class="box-title">Create Event</h3>
                                                </div>
                                                <div class="event-body">
                                                    <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                                                        <ul class="fc-color-picker" id="color-chooser">
                                                            <li>
                                                                <a class="text-aqua" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="text-blue" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="text-light-blue" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="text-teal" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="text-yellow" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="text-orange" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="text-green" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="text-lime" href="#">
                                                                    <i class="fa fa-square"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="input-group add-event">
                                                        <input id="new-event" type="text" class="form-control" placeholder="Event Title">
                                                        <div class="input-group-btn">
                                                            <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- start draggable events -->


                                        <!-- The Calendar -->
                                        <div class="col-lg-9 m-t-2">
                                            <div class="col-bor box box-primary">
                                                <div class="box-body no-padding">
                                                    <div id="calendar"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End The Calendar -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section content -->


        <!-- start section footer -->
        <div class="footer">
            <div class="copyright">
                <p class="mb-0">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
        </div>
        <!-- End section footer -->


    </div>


    <!-- JQuery v3.2.1 -->
    <script src="js/jquery3-2.1.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Moment -->
    <script src="js/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="js/daterangepicker.min.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="js/jquery-ui.min.js"></script>

    <!-- Calendar -->
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/calendar-init.js"></script>

    <!-- Main Custom JQuery -->
    <script src="js/toggleFullScreen.js"></script>
    <script src="js/main.js"></script>

</body>

</html>