spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://124.222.50.222:3306/student_system?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: 123456
  web:
    resources:
      static-locations: classpath:templates/,classpath:static/
  thymeleaf:
    cache: false
    mode: LEGACYHTML5
    encoding: UTF-8
    servlet:
      content-type: text/html
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 200MB



mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.studentsystem.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

#mybatis:
#  mapper-locations: classpath:mapper/*.xml
#  type-aliases-package: com.example.studentsystem.entity
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl