<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student System | Fee</title>
  <!-- Base Styling  -->
  <link rel="stylesheet" href="../static/css/fonts.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="nav-header">
  <div class="brand-logo">
    <a href="index.html"> <img class="logo-tabib" src="../static/picture/download.png" alt=""></a>
    <a href="index.html"><img class="brand-title" src="../static/picture/logo.png" alt=""></a>
  </div>
</div>
<div>
  <span>访问 Model11111：</span><span th:text="${person.feeid}"></span>
</div>
<div class="content-body">
  <div class="warper container-fluid">
    <div class="all student mx-0">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header fix-card">
              <div class="row">
                <div class="col-8">
                  <h4 class="card-title"> All Students </h4>
                </div>
                <div class="col-4 float-end">
                  <a href="javascript:;" class="btn btn-primary float-end">New
                    Students</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example2" class="display nowrap">
                  <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Online or Offline</th>
                    <th>Payment Method</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                  <tr th:each="student : ${list}">
                    <td th:text="${student.feeid}"></td>
                    <td th:text="${student.feepayerusername}"></td>
                    <td th:text="${student.feeamount}"></td>
                    <td th:text="${student.feestatus}"></td>
                    <td th:text="${student.feeonlineoroffline}"></td>
                    <td th:text="${student.feepaymentmethod}"></td>
                    <td>
                      <a class='mr-4 vue'>
                        <span class='fa fa-eye' aria-hidden='true'></span>
                      </a>
                      <a data-bs-toggle='modal' data-bs-target='#modal-edit' class='mr-4'>
                        <span class='fas fa-pencil-alt'></span>
                      </a>
                      <a class='mr-4 delet'>
                        <span class='fas fa-trash-alt'></span>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <span>访问列表</span>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Online or Offline</th>
      <th>Payment Method</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${list}">
      <td th:text="${student.feeid}"></td>
      <td th:text="${student.feepayerusername}"></td>
      <td th:text="${student.feeamount}"></td>
      <td th:text="${student.feestatus}"></td>
      <td th:text="${student.feeonlineoroffline}"></td>
      <td th:text="${student.feepaymentmethod}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>