<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student System | Course</title>
    <!-- Base Styling  -->
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="referrer" content="no-referrer">
</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href=""><img src="https://i.ibb.co/TW465Jk/Brandpic.png" alt=""></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu">
                        <a href="/studentToIndex">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Course</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="/notRegisteredToSelectedCourse">Student Courses</a></li>
                            <li><a href="/notRegisteredToCourse">All Courses</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-book-medical"></i>
                            <span class="nav-label">Fee</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="/notRegisteredToFeePage">Fee Status</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-heartbeat"></i>
                            <span class="nav-label">Newsletter</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="/notRegisteredToSubscribedNewsletter">All Newsletter</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-widgets">
                <div class="copyright text-center">
                    <p class="mb-0"> Group 9</p>
                    <p class="mb-0"> © 2022 </p>
                </div>
            </div>
        </aside>
        <!-- End section sidebar -->


        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                    <!--                    <div class="left-header content-header__menu">-->
                    <!--                        <ul class="list-unstyled">-->
                    <!--                            <li class="nav-link btn">-->
                    <!--                                <a href="#"><i class="far fa-calendar-check"></i> <span> Make an appointment</span></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="nav-link btn">-->
                    <!--                                <a href="#"><i class="far fa-file-alt"></i> <span> Write a prescription</span></a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                </div>
                <div class="header-right">
                    <div class="fullscreen notification_dropdown">
                        <div class="full">
                            <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="fas fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="notification_dropdown">
                        <div class="cart-wrapper">
                            <div class="cart-icon">
                                <a class="cart-control" href="#">
                                    <i class="fas fa-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                            </div>
                            <div class="cart-dropdown-form dropdown-container" style="right: -100px;">
                                <div class="form-content">
                                    <div class="widget-media main-scroll nicescroll-box">
                                        <li>
                                            <h6 class="mb-0">Notitications</h6>
                                        </li>
                                        <ul class="timeline" th:each="newsletter: ${notificationList}">
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media-body">
                                                        <h6 class="mb-1 " th:text="${newsletter.newsname}"></h6>
                                                        <small class="d-block"
                                                               th:text="${newsletter.publishtime}"></small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="all-notification btn btn-primary" href="/studentToSubscribedNewsletter">
                                        See all newsletters
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-account-wrapper">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <!--                                    <div class="header-info">-->
                                    <!--                                        <span>Dr Roberts</span>-->
                                    <!--                                        <small>Admin</small>-->
                                    <!--                                    </div>-->
                                    <img src="https://i0.hdslb.com/bfs/article/2eb0b4b5a2fcc35288e39c63fb1834b413b45e18.gif" alt="">
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="#">
                                            <i class="far fa-user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                        <!--                                        <a href="#">-->
                                        <!--                                            <i class="far fa-envelope"></i>-->
                                        <!--                                            <span class="ml-2">Inbox</span>-->
                                        <!--                                        </a>-->
                                        <a href="/logout">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="all-patients main_container">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4 class="text-primary">Course List</h4>
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/studentToIndex">Home</a></li>
                                <li class="breadcrumb-item active"><a href="javascript:;">Course</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header fix-card">
                                    <div class="row">
                                        <div class="col-8">
                                            <h4 class="card-title"> All Courses </h4>
                                        </div>
                                        <div class="col-4 float-end">
                                            <a href="javascript:;" class="btn btn-primary float-end">New
                                                Course</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example2" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Course ID</th>
                                                    <th>Course Name</th>
                                                    <th>Teacher Name</th>
                                                    <th>Course Time</th>
                                                    <th>Classroom</th>
                                                    <th>Phone Number</th>
                                                    <th>Type</th>
                                                    <th>Major</th>
                                                    <th>Credit</th>
                                                    <th>Course Start</th>
                                                    <th>Course End</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="course : ${courseList}">
                                                    <td th:text="${course.courseid}"></td>
                                                    <td th:text="${course.coursename}"></td>
                                                    <td th:text="${course.teacherid}"></td>
                                                    <td th:text="${course.coursetime}"></td>
                                                    <td th:text="${course.classroom}"></td>
                                                    <td th:text="${course.courseweek}"></td>
                                                    <td th:text="${course.coursetype}"></td>
                                                    <td th:text="${course.majorid}"></td>
                                                    <td th:text="${course.credit}"></td>
                                                    <td th:text="${course.coursestart}"></td>
                                                    <td th:text="${course.courseend}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section content -->


        <!-- start section footer -->
        <div class="footer ">
            <div class="copyright ">
                <p class="mb-0">Copyright &copy; 2021. Group 9 All rights reserved.</p>
            </div>
        </div>
        <!-- End section footer -->


    </div>


    <!-- Show data patient -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- <div > -->
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel"><img class="rounded-circle" width="35" src="picture/user1.jpg" alt=""> Tiger Nixon </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="insertHere"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Show data patient -->


    <!-- Modal -->
    <div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="modal-title-edit-row" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title-edit-row">Angelica Ramos</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="basic-form">
                                <form>
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="form-group row widget-3">
                                                <div class="col-lg-12">
                                                    <div class="form-input">
                                                        <label class="labeltest" for="file-ip-1">
                                                            <span> Drop image here or click to upload. </span>
                                                        </label>
                                                        <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
                                                        <div class="preview">
                                                            <img id="file-ip-1-preview" src="https://www.17sucai.com/preview/776298/2021-08-30/tabib/all-patients.html" alt="img">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Last name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Mobile No.">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Birthday">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <select class="form-control form-select">
                                                        <option> Marital status </option>
                                                        <option>Married</option>
                                                        <option>Unmarried</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <select class="form-control form-select">
                                                        <option>Sex</option>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <select class="form-control form-select">
                                                        <option>Blood Group</option>
                                                        <option>A+</option>
                                                        <option>A-</option>
                                                        <option>B+</option>
                                                        <option>B-</option>
                                                        <option>O+</option>
                                                        <option>O-</option>
                                                        <option>AB+</option>
                                                        <option>AB-</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4">
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Patient Weight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="Patient Height">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                </div>
                                                <textarea class="form-control" placeholder="Address" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xl-8">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Patient History" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal -->


    <!-- JQuery v3.5.1 -->
    <script src="../js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Moment -->
    <script src="../js/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="../js/daterangepicker.min.js"></script>

    <!-- Datatable -->
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../js/init-tdatatable.js"></script>

    <!-- Main Custom JQuery -->
    <script src="../js/toggleFullScreen.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>