<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student System | Dashboard</title>
    <!-- Base Styling  -->
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="referrer" content="no-referrer">
</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href=""><img class="logo-tabib" src="https://i.ibb.co/7rLsvFS/Logo.png" alt="Logo" border="0"></a>
                <a href=""><img class="brand-title" src="https://i.ibb.co/02GC0km/Brand.png" alt="Brand" border="0"></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu active">
                        <a href="">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Course</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="/notRegisteredToSelectedCourse">Student Courses</a></li>
                            <li><a href="/toCourse">All Courses</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-book-medical"></i>
                            <span class="nav-label">Fee</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="/notRegisteredToFeePage">Fee Status</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-heartbeat"></i>
                            <span class="nav-label">Newsletter</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="/notRegisteredToSubscribedNewsletter">All Newsletter</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-widgets">
                <div class="div1">
                    <img src="https://i0.hdslb.com/bfs/article/ed56b8ede2cd9d4dbf5f6722c3b536ba0c8b9c70.gif" alt="">
                </div>
            </div>
        </aside>
        <!-- End section sidebar -->


        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                    <!--                    <div class="left-header content-header__menu">-->
                    <!--                        <ul class="list-unstyled">-->
                    <!--                            <li class="nav-link btn">-->
                    <!--                                <a href="#"><i class="far fa-calendar-check"></i> <span> Make an appointment</span></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="nav-link btn">-->
                    <!--                                <a href="#"><i class="far fa-file-alt"></i> <span> Write a prescription</span></a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                </div>
                <div class="header-right">
                    <div class="fullscreen notification_dropdown">
                        <div class="full">
                            <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="fas fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="notification_dropdown">
                        <div class="cart-wrapper">
                            <div class="cart-icon">
                                <a class="cart-control" href="#">
                                    <i class="fas fa-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                            </div>
                            <div class="cart-dropdown-form dropdown-container" style="right: -100px;">
                                <div class="form-content">
                                    <div class="widget-media main-scroll nicescroll-box">
                                        <li>
                                            <h6 class="mb-0">Notitications</h6>
                                        </li>
                                        <ul class="timeline" th:each="newsletter: ${notificationList}">
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media-body">
                                                        <h6 class="mb-1 " th:text="${newsletter.newsname}"></h6>
                                                        <small class="d-block"
                                                               th:text="${newsletter.publishtime}"></small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="all-notification btn btn-primary" href="/notRegisteredToSubscribedNewsletter">
                                        See all newsletters
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-account-wrapper">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <!--                                    <div class="header-info">-->
                                    <!--                                        <span>Dr Roberts</span>-->
                                    <!--                                        <small>Admin</small>-->
                                    <!--                                    </div>-->
                                    <img src="https://i0.hdslb.com/bfs/article/2eb0b4b5a2fcc35288e39c63fb1834b413b45e18.gif" alt="">
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="#">
                                            <i class="far fa-user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                        <!--                                        <a href="#">-->
                                        <!--                                            <i class="far fa-envelope"></i>-->
                                        <!--                                            <span class="ml-2">Inbox</span>-->
                                        <!--                                        </a>-->
                                        <a href="/logout">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-lg-12 p-md-0">
                        <h4 class="text-primary">Hello, <span class="names" th:text="${name}"></span> !</h4>
                    </div>
                </div>
                <div class="new-patients main_container">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-primary">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-calendar-check fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">Earnings</span>
                                            <h3 class="mb-0 text-white">7699</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-danger">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-user-nurse fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">Patients</span>
                                            <h3 class="mb-0 text-white">400</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-primary">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-user-plus fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">Appointments</span>
                                            <h3 class="mb-0 text-white">1360</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3 col-lg-6">
                            <div class="widget card card-primary">
                                <div class="card-body">
                                    <div class="media text-center">
                                        <span>
                                            <i class="fas fa-database fa-2x"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="text-white">Total Revenue</span>
                                            <h3 class="mb-0 text-white">$6500</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card shadow widget1">
                                <div class="card-header">
                                    <h4 class="card-title">Activity</h4>
                                    <span class="subtitle">TODAY 24, JAN 2019</span>
                                </div>
                                <div class="card-body">
                                    <canvas id="chart1" width="100%" height="40"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow widget-2">
                                <div class="card-header">
                                    <h4 class="card-title">New Patient</h4>
                                </div>
                                <div class="card-body">
                                    <div class="panel-body widget-media main-scroll nicescroll-box">
                                        <ul class="list-group list-unstyled">
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="picture/user1.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="picture/user2.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="picture/user3.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="picture/user4.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="ms-btn-icon btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="picture/user5.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="picture/user5.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center media">
                                                <div class="d-flex">
                                                    <div class="img-patient">
                                                        <img src="picture/user5.jpg" class="rounded-circle" alt="people">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mb-0">Airi Satou</h4>
                                                        <span>Maried, Rabat</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-success" name="button">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card shadow widget1">
                                <div class="card-header">
                                    <h4 class="card-title">Top Diseases</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-12">
                                            <canvas id="chart3" width="100%" height="220"></canvas>
                                        </div>
                                        <div class="col-lg-10">
                                            <ul class="d-flex justify-content-between m-t-30">
                                                <li class="content-widget text-center">
                                                    <p class="mb-0 fs-14 text-muted">Stroke</p>
                                                    <h4 class="mb-0 fs-20 text-dark-gray">8952</h4>
                                                </li>
                                                <li class="content-widget text-center">
                                                    <p class="mb-0 fs-14 text-muted">Diabetes</p>
                                                    <h4 class="mb-0 fs-20 text-dark-gray">7458</h4>
                                                </li>
                                                <li class="content-widget text-center">
                                                    <p class="mb-0 fs-14 text-muted">Cirrhosis</p>
                                                    <h4 class="mb-0 fs-20 text-dark-gray">3254</h4>
                                                </li>
                                                <li class="content-widget text-center">
                                                    <p class="mb-0 fs-14 text-muted">Tuberculosis</p>
                                                    <h4 class="mb-0 fs-20 text-dark-gray">3254</h4>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card shadow widget1">
                                <div class="card-header">
                                    <h4 class="card-title">Total Patient Per Day</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="chart2" width="100%" height="299"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h4 class="card-title">Appointment List | 04 Aug 2021</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example1" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Date</th>
                                                    <th>Patient</th>
                                                    <th>Address</th>
                                                    <th>Phone</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        07:00
                                                    </td>
                                                    <td>01 Jun 2021</td>
                                                    <td> Michael R Sheets </td>
                                                    <td> 1468 Selah Way - Rabat</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start">
                                                        <span class="badge badge-primary">Start appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        07:30
                                                    </td>
                                                    <td>02 Jun 2021</td>
                                                    <td> Eric J Lane</td>
                                                    <td>1468 Selah Way - Agadir</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        08:00
                                                    </td>
                                                    <td>03 Jun 2021</td>
                                                    <td> Pamela R Matheney </td>
                                                    <td>1468 Selah Way - Casablanca</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        08:30
                                                    </td>
                                                    <td>04 Jun 2021</td>
                                                    <td> Chelsea S Coy
                                                    </td>
                                                    <td>1468 Selah Way - Fes </td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge btn-danger">Canclled</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        09:00
                                                    </td>
                                                    <td>05 Jun 2021</td>
                                                    <td> Michael R Sheets
                                                    </td>
                                                    <td> 1468 Selah Way - Oujda</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        09:30
                                                    </td>
                                                    <td>06 Jun 2021</td>
                                                    <td>Eric J Lane</td>
                                                    <td>1468 Selah Way - Marakesh</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 10:00 </td>
                                                    <td>07 Jun 2021</td>
                                                    <td> Pamela R Matheney </td>
                                                    <td>1468 Selah Way - Lexington</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 10:30 </td>
                                                    <td>08 Jun 2021</td>
                                                    <td> Chelsea S Coy </td>
                                                    <td>1468 Selah Way - Bakersfield </td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge btn-danger">Canclled</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 11:00 </td>
                                                    <td>09 Jun 2021</td>
                                                    <td> Michael R Sheets </td>
                                                    <td> 1468 Selah Way - Brattleboro</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 11:30 </td>
                                                    <td>10 Jun 2021</td>
                                                    <td> Eric J Lane</td>
                                                    <td>1468 Selah Way - Laayoune</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 09:00 </td>
                                                    <td>11 Jun 2021</td>
                                                    <td> Pamela R Matheney </td>
                                                    <td>2320 May Street - Lexington</td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge badge-primary">Start
                                                            appt</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 09:00 </td>
                                                    <td>12 Jun 2021</td>
                                                    <td> Chelsea S Coy </td>
                                                    <td>3342 Lowndes Hill - Berrechid </td>
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start"> <span class="badge btn-danger">Canclled</span>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 check'>
                                                            <span class='fas fa-check'></span>
                                                        </a>
                                                        <a class='delet'>
                                                            <span class='fas fa-trash-alt'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section content -->


        <!-- start section footer -->
        <div class="footer ">
            <div class="copyright ">
                <p class="mb-0">Copyright &copy; 2021. Group 9 All rights reserved.</p>
            </div>
        </div>
        <!-- End section footer -->


    </div>


    <!-- JQuery v3.5.1 -->
    <script src="../js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="../js/bootstrap.js"></script>

    <!-- Moment -->
    <script src="../js/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="../js/daterangepicker.min.js"></script>

    <!-- Datatable -->
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../js/init-tdatatable.js"></script>

    <!-- Chart js -->
    <script src="../js/Chart.min.js"></script>
    <script src="../js/charts-custom.js"></script>

    <!-- Main Custom JQuery -->
    <script src="../js/toggleFullScreen.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>